<div class="row mt-5">
  <div class="col-auto mr-auto">
    <h1>分類列表</h1>
  </div>
  <div class="col-auto">
    <%= link_to 'Restaurant', dark_restaurants_path %> |
    <%= link_to 'Categories', dark_categories_path %>
  </div>
</div>
<div class="row mt-5">
  <div class="col-12">
    <%= form_for [:dark, @category] ,html: { class: "form-inline" } do |f| %>
    <div class="mr-2">
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <%= f.submit class: "btn btn-success" %>
    <% end %>
  </div>
</div>
<div class="row mt-4">
  <div class="col-md-12">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>NO #</th>
          <th>Category Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
        <tr>
          <th scope="row"><%= category.id %></th>
          <td><%= category.name %></td>
          <td><%= link_to 'Edit', dark_categories_path(id: category.id) %> | <%= link_to 'Delete', dark_category_path(category), method: :delete, data: { confirm: "Are you sure?"} %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
